<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4 text-container">
    <article class="state-info">

      <%= react_component 'App', {CONGRESS_API: ENV['CONGRESS_API']} %>
      <h3> Share Your Views!</h3>
      <div class="fb-comments" data-href="http://mypolitician.com" data-numposts="5" data-width="460px"></div>
    </article>

  </div>
  <div class="col-sm-8 col-md-8 col-lg-8 map-container">
  </div>
</div>
