<div class="row">
  <div class="col-sm-4 col-md-4 text-container">
    <h1>New York State</h1>
    <article>
      <p> Upcoming Votes </p>
      <p> Historical Vote positions </p>
    </article>

    <!-- <%= react_component 'App' %> -->
  </div>
  <div class="col-sm-8 col-md-8 map-container">
    <!-- <%= react_component 'App' %> -->
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12 test">
  </div>
</div>
