<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4 text-container">
    <article class="state-info">

      <%= react_component 'App', {CONGRESS_API: ENV['CONGRESS_API']} %>
      <div class="comments-container">
      <h3> Share Your Views!</h3>
      <div class="fb-comments" data-href="http://mypolitician.com" data-numposts="5" data-width="460px"></div>
    </article>

  </div>
  <div class="col-sm-8 col-md-8 col-lg-8 map-container">
    <span class="zoom-button">
 <!--      <button class="btn btn-default" data-zoom="+1"><i class="fa fa-plus" aria-hidden="true"></i></button>
      <button class="btn btn-default" data-zoom="-1"><i class="fa fa-minus" aria-hidden="true"></i></button> -->
    </span>
  </div>
</div>
