<h1>United States of America</h1>
<!DOCTYPE html>
<meta charset="utf-8">
<script>

d3.json("NYS_Congressional_Districts.json", function(error, us) {
   if (error) throw error;
    console.log(us)
})

</script>
