@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 3em;
  font-variant: small-caps;
  font-family: 'Raleway', sans-serif;
  // text-transform: uppercase;
}

#logo {
  font-weight: 900;
  font-size: 4em;
}

.background {
  fill: none;
  pointer-events: all;
}

.text-container {
  width: 25%;
}
.map-container {
  width: 75%;
  position: relative;

}

.feature {
  fill: #e8e8e8;
  stroke: #000;
  stroke-width: .1;
  cursor: pointer;
}

.feature:hover{
  fill: #bbb;
}

svg {
    border: 1px solid black;
}

.mesh {
  fill: none;
  // stroke: #bbb;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.tooltip {
  background-color: red;
  box-shadow: 0 0 5px #999999;
  color: #333;
  // display: none;
  font-size: 12px;
  // left: 130px;
  // top: 95px;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 80px;
  height: 100px;
  z-index: 2;
}
