@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 3em;
  font-variant: small-caps;
}

header {
    height: 150px;
}

header h1{
  display: inline-block;
}

#logo {
  margin-left: 50px;
  font-weight: 900;
  font-size: 4em;
}

#state-header {
  margin-right: 50px;
  margin-top: 34px;
  float: right;
}

.background {
  fill: none;
  pointer-events: all;
}

.text-container {
  // width: 35%;
}

.map-container {
  position: relative;
  text-align: center;
}

.feature {
  fill: #e8e8e8;
  stroke: #000;
  stroke-width: .1;
  cursor: pointer;
}

.feature:hover{
  fill: #bbb;
}


.feature.active{
  fill:blue;
  }

svg {
    border: 1px solid black;

}

.mesh {
  fill: none;
  // stroke: #bbb;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.tooltip {
  background: #fff;
  box-shadow: 0 0 5px #999999;
  color: #333;
  font-size: 12px;
  // left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  // top: 95px;
  width: 400px;
  height: 150px;
  // opacity: 1;
}
