@import "bootstrap-sprockets";
@import "bootstrap";

a {
  text-decoration: none;
  color: #34495e;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  overflow: hidden;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 3em;
  font-variant: small-caps;
}

header {
    height: 125px;
    background-color: #34495e;
    margin-bottom: 50px;
    color: white;
}

header h1{
  display: inline-block;
}

svg {
    border: 1px solid black;

}

#logo {
  margin-left: 50px;
  font-weight: 900;
  font-size: 4em;
}

#state-header {
  margin-right: 50px;
  margin-top: 34px;
  float: right;
}

.background {
  fill: none;
  pointer-events: all;
}

.text-container {
  height: 720px;
  overflow: auto;
}

.state-info {
  margin-left: 50px;
}

.social-icon {
  font-size: 2.8em !important;
  margin: 35px;
}

.rep-name {
  margin-top: 25px;
}

.bills-sponsored {
  border-bottom: 50px;
}

.tab-content {
  display: none;
}

.tabs {
    padding: 0;
    float: left;
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-bottom: 35px;
    list-style: none;
}

.tabs li {
    float: left;
    margin-right: 10px;
    padding: 10px 10px;
    height: 65px;
    line-height: 30px;
}

.tabs li a {
    color: #666;
    text-decoration: none;
}

.tabs li.active {
    border: 1px solid #ccc;
    border-bottom: 1px solid white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: -1px;
    height: 70px;
    padding: 9px 14px;
}

.tabs li.active a {
    color: black;
    text-decoration: none;
    border-bottom: none;
}

.bills {
  display: inline-block;
  padding: 16px;
  margin: 10px 0;
  width: 468px;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  // padding: 5px 30px 10px 0;
}

.vote-date {
  color: #bbb;
  font-variant: small-caps;
  margin-left: 10px;
}

.vote-position {
  font-size: 1.2em;
  text-align: right;
  margin: 25px;
}

.map-container {
  position: relative;
  text-align: center;
}

.feature {
  fill: #34495e;
  cursor: pointer;
}

.feature:hover{
  fill: #bbb;
}

.feature.active{
  fill:blue;
  }

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.tooltip {
  background: #fff;
  box-shadow: 0 0 5px #999999;
  color: #333;
  position: absolute;
  text-align: center;
  width: 250px;
  height: 125px;
}

blockquote.twitter-tweet {
  display: inline-block;
  padding: 16px;
  margin: 10px 0;
  max-width: 468px;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
}

blockquote.twitter-tweet p {
  font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
  margin: 0 5px 10px 0;
}
