<!DOCTYPE html>
<html>
  <head>
    <title>myPolitician</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="//d3js.org/queue.v1.min.js"></script>
    <script src="//d3js.org/topojson.v1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="container-flex">
      <header>
        <h1 id="logo">myPolitician</h1>
        <h1 id="state-header">New York State</h1>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
